<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-success text-white">
    <a href="/" class="text-white navbar-brand">
        <i class="fab fa-pagelines"></i> Organic Store
    </a>

    <button class="navbar-toggler" type="button" data-toogle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a href="/" class="nav-link">home</a>
            </li>
        </ul>
        <form action="" class="form-inline mt-2 mt-md-0">
            <a href="#" class="text-white nav-link">
                <i id="cart_n" class="text-warning fas fa-shopping-cart"></i>
                shopping cart
            </a>
            <a href="/admin" class="text-white nav-link">
                <i  class="far fa-user"></i>
                administrator
            </a>
            
        </form>

    </div>
</nav>


