<%- include('mainLayout.ejs') %>


<header>
    <%- include('components/navbar.ejs') %>
</header>



<div class="container mt-3">
    <main role="main">
        <div class="row">
            <div class="col">
                <h1>Orders</h1>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">product</th>
                                <th scope="col">description</th>
                                <th scope="col">quantity</th>
                                <th scope="col">price</th>
                            </tr>
                        </thead>
                        <tbody id="table"> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
    </main>
</div>



<script src="/js/cart.js"></script>